.game{
    width: 1300px;
    height: 400px;
    border-bottom: 1px solid #000;
    margin: auto;
}
#human{
    width: 50px;
    height: 50px;
    background-image: url(img/human.png);
    background-size: 50px 50px;
    position: relative;
    top: 350px;
    left: 400px;
} 

#slenderman{
    width: 50px;
    height: 50px;
    background-image: url(img/slenderman.png);
    background-size: 50px 50px;
    position: relative;
    top: 210px;
    left: 0px;
    animation: slenderManMov 10s infinite linear;
}

#cactus{
    width: 20px;
    height: 40px;
    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 300px;
    left: 1280px;
    animation: cactusMov 4s infinite linear;
}

#portal1{
    width: 50px;
    height: 50px;
    background-image: url(img/Portal1.png);
    background-size: 50px 50px;
    position: relative;
    top: 250px;
    left: -40px;
}

#portal2{
    width: 50px;
    height: 50px;
    background-image: url(img/Portal2.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px; 
    left: 1300px;
} 

@keyframes slenderManMov{
    0%{
        left:  20px;
    }100%{  
        left: 60px;
    }
}

@keyframes cactusMov{
    0%{
        left:  1300px;
    }100%{  
        left: 20px;
    }
}
.jump {
    animation: jump 0.3s linear;

}@keyframes jump{
    0%{
        top:  150px;
    }
    30%{
        top: 130px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 130px;
    }
    100%{
        top: 150px;
    }
}
